<h1>Command exception: {{ exception.message }}</h1>
<hr />
<br />
<strong>"{{ event.command.name }}" output:</strong>
<strong>Exit code: {{ event.exitCode }}</strong>
<hr />
<br />
<strong>{{ exception_class }}</strong><br />
<pre>{{ exception.traceAsString }}</pre><br />