<h1>Command exception</h1>
<hr />
<pre>{{ exception.message }}</pre>
<br />
<br />
<strong>"{{ command.name }}" output:</strong>
<hr />
<br />
<strong>{{ exception_class }}</strong><br />
<pre>{{ exception.traceAsString }}</pre><br />
{% if dump_data %}
    <hr />
    <br />
    {{ aDump(dump_data) }}
{% endif %}